{% extends 'base/base.html' %}
{% block title %}Create Order{% endblock title %}
{% block body %}
{% load static %}

<div id="content" class="span10">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="#">Home</a>
		</li> 
	</ul>
	<div class="row-fluid sortable">
		<div class="box span12">
			<div class="box-header" data-original-title>
				<h2>
					<i class="halflings-icon edit"></i>
					<span class="break"></span>Create Order

				</h2>
				<div class="box-icon">
				  <a href="/ems/show_team/" class="btn btn-primary teamlist">Order List</a>
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				<form method="POST" class="form-horizontal">
				{% csrf_token %}

                <div class="control-group">
                    <label class="control-label" for="typeahead">{{form.name.label}}</label>
                    <div class="controls">
                      {{form.name}}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="typeahead">{{form.description.label}}</label>
                    <div class="controls">
                      {{form.description}}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="typeahead">{{form.mobile.label}}</label>
                    <div class="controls">
                      {{form.mobile}}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="typeahead">{{form.category.label}}</label>
                    <div class="controls">
                      {{form.category}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="typeahead">{{form.delivery.label}}</label>
                    <div class="controls">
                      {{form.delivery}}
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="typeahead">{{form.price.label}}</label>
                    <div class="controls">
                      {{form.price}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="typeahead">{{form.payment.label}}</label>
                    <div class="controls">
                      {{form.payment}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="typeahead">{{form.due.label}}</label>
                    <div class="controls">
                      {{form.due}}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="typeahead">{{form.received_date.label}}</label>
                    <div class="controls">
                      {{form.received_date}}
                    </div>
                </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            <button type="reset" class="btn">Cancel</button>
                        </div>

					</div>
				</form>
			</div>
		</div>
		<!--/span-->
	</div>
	<!--/row-->
</div>
{% endblock body %}